[Desktop Entry]
Version=1.0
Name=TeamViewer
Comment=TeamViewer
Exec=omarchy-launch-webapp https://web.teamviewer.com/devices/advanced
Terminal=false
Type=Application
Icon=/home/jamesking56/.local/share/applications/icons/TeamViewer.png
StartupNotify=true
