[Desktop Entry]
Version=1.0
Name=YouTube Music
Comment=YouTube Music
Exec=omarchy-launch-webapp https://music.youtube.com
Terminal=false
Type=Application
Icon=/home/jamesking56/.local/share/applications/icons/YouTube Music.png
StartupNotify=true
