[Desktop Entry]
Version=1.0
Name=20i
Comment=20i
Exec=omarchy-launch-webapp https://my.20i.com
Terminal=false
Type=Application
Icon=/home/jamesking56/.local/share/applications/icons/20i.png
StartupNotify=true
