[Desktop Entry]
Version=1.0
Name=Peerlist
Comment=Peerlist
Exec=omarchy-launch-webapp https://peerlist.io/
Terminal=false
Type=Application
Icon=/home/jamesking56/.local/share/applications/icons/Peerlist.png
StartupNotify=true
